Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.8.2
Werkzeug==0.9.4
gtfsdb==0.1.0
itsdangerous==0.23
numpy==1.7.1
pandas==0.12.0
protobuf==2.5.0
psycopg2==2.5.1
python-dateutil==2.1
pytz==2013d
six==1.4.1
wsgiref==0.1.2
